<link rel="stylesheet" href="./Slice/css/GameModal.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div id="modal" class="main center-screen">
    <div class="container">
        <div class="utils">
            <div class="timer" id="timer"> 60 </div>
            <div class="letter" id="letter"> A </div>
        </div>
    </div>
    <div class="container2 flex">
        <div class="players" id="playersContainer">
            <span class="titlePlayers">Players</span>  
        </div>
        <div class="mainGrid" id="words">
            <div id="title-game">Fill al the Inputs and press STOP!</div>
            <div class="gridLabel" id="categoryContainer">

               
            </div>
            <button class="button" id="stopBtn"> STOP</button>
        </div>
    </div>


</div>